.wrapper {
  display: flex;
  flex-direction: row;
}

.label {
  width: 175px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #555;
  font-size: 14px;
}

.input {
  flex-grow: 1;
}
